.row{
	margin-left : -15px;
	margin-right: -15px;
display: flex;
justify-content: space-around; 
}




body {
  padding-top: 10px;
}
[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;

}




.Titre{
	background-color: pink;
	
}


.Titre2{
	text-align: center;
	background-color: blue;
	font-size: 28px;
	color : yellow;	
}

.rezo{
	margin-bottom: 0px;
	margin: 0 auto;
	display : flex;
	flex-direction: row;
	justify-content: space-around;
}


header {
	width :;
	height: 100px;
	background-color: yellow;
	height: 40px;
}

.icone {
	margin-bottom: 0px;
	background-color: rgb(250,100,250);
	width:50px; 
	height:50px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
	border-style: groove;
	border-color: lime;
	border-radius: 20px;
	display: inline;
}



.home{
	padding-top : 10px;
	display : flex;
	flex-direction: row;
	justify-content: space-around;

}

/*.Terre{
	display: flex;
height: 50px;
}
*/

.globe{
		background-color: grey;
	padding-top: 0px;
	margin-top: 0px;
	margin : 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
/*
.globe img{
	z-index: 1;
}
*/


.prez{
	background-color: orange;
	margin-top : 0 auto;
	padding-top : 10px;
	display : flex;
	flex-direction: column;
	justify-content: space-between;
}

footer p{
	margin-top: 0px;
	padding-top: 0px;
	background-color : lime;
	display: flex;
	flex-direction: row;
}