/* debug */
/*
* {
	outline: 3px solid red;
}
*/

body {
	font-family: sans-serif;
	padding-top: 75px;
	background-color: #FFC800;
	color: #005667;
}

@media screen and (max-width: 767px) {
	body {
		padding-top: 275px;
	}
}

.navbar {
	opacity: 0.9;
}

@media screen and (max-width: 767px) {
	.navbar-nav li {
		padding-left: 10px;
	}
}

.intro {
	text-align: center;
}

h1 {
	font-size: 7em;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 3.5em;
	}
}

.glyphicon {
	font-size: 1.5em;
}

img {
	margin: auto;
}

dd {
	margin-bottom: 10px;
}

.panel-body {
	color: #000000;
}

footer {
	text-align: center;
}

.globe {
	position: relative;
}

@media screen and (min-width: 992px) {
	.globe {
		max-width: 50%;
		margin: auto;
	}
}

.globe img {
	border-radius: 25%;
}

.globe img:first-child {
	animation-name: rotate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 20s;
}

@keyframes rotate{
	from {transform:rotate(0deg);} to {transform:rotate(360deg);}
}

.globe-static {
	position: absolute;
	top: 0;
}